.login {
    width: 320px;
    height: 320px;
    left: 50%;
    top: 50%;
    position: fixed;
    margin-left: -160px;
    margin-top: -160px;
    background:  #fff;
    box-shadow: 0px 0px 5px 0px #3a3636;
    border-radius: 3px;
}
.bg-img{
    background-image: url(../../assets/img/th.jpg);
    height: 100%;
    background-size: 100%;
}
.invalid-feedback {
    margin-bottom: 12px;
    color: red;
}
.login form{
    padding: 30px;
    border-radius: 0;
}
.input-group, .form-control, .input-group, .input-group-addon{
    border: none !important;
    background: none;
    box-shadow: none;
    color: #ababb7;
}
a{
  cursor: pointer;
}
.register{
  text-decoration: none;
}
.forgot, .loginLink{
    float: right;
    text-decoration: none;
}
.login-text{
    color: #00b6ff;
    font-size: 24px;
}
.mb-2{
    margin-bottom: 2rem;
}
.input-group {
    border-bottom: 1px solid #ddd !important;
    margin-bottom: 20px;
}
.btn.btn-info{
margin-top: 30px;
}
.bg-img::before{
    content: '';
    background-image: linear-gradient(120deg, #0a0a0a, #002b50);
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.2;
    left: 0;
}
