<div class="bg-img">
  <div class="login">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
      <div class="text-center mb-2 login-text">Login</div>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input name="username" required [(ngModel)]="model.username" #username="ngModel" id="username" type="text" class="form-control" name="username" placeholder="Username">
        <!-- email -->
      </div>
      <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
          <div *ngIf="username.errors.required">Username is required</div>
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input name="password" required  [(ngModel)]="model.password" minlength="4" #password="ngModel" id="password" type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password must be at least 4 characters</div>
      </div>
      <button class="btn btn-info btn-block">Submit</button>
      <a href="#" class="forgot">Forgot Password?</a>

    </form>

  </div>
</div>
