<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <img src="../../assets/img/logo.png">
      </div>
      <div class="col-sm-9 text-right">
        <ul class="nav-link">
          <li><a href="#">Empolyee</a></li>
          <li><a href="#">Contact US</a></li>
          <li><a href="#">Gallary</a></li>          
          <li><a href="#">About US</a></li>
          <button class="login">Login</button>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="baner text-center">
  <div class="fs">WE ARE ONE PAGE</div>
  <div>Morbi tempus porta nunc pharetra quisque ligula imperdiet posuere<br>
    vitae felis proin sagittis leo ac tellus blandit sollicitudin quisque vitae placerat.</div>
    <button class="btn btn-info bg ">OUR SERVICES</button>
    <button class="btn btn-primary bg">SET STARTED</button>
</div>
